.nav-pills{
  .nav-link {
    padding: $nav-pills-padding-y $nav-pills-padding-x;
    &.active {
      font-weight: $nav-pills-link-active-font-weight;
    }

  }
}
.nav-link{
  display: block;
  color:  $white;
}
.nav-link:active{
  font-weight: bold;
}
.nav-link:hover{
  font-weight: bold;
  color: $yellow;
}