@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

//Colors
$gray-800: #333a3d;
$gray-900: #1f2426;
$darkblue-500: #0a3d67;
$main-background-color: #f5f7f8;
$light-yellow: #ffd658;


//Navigation
$nav-link-color: $white;
$nav-link-hover-color: $yellow;
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: $gray-900;
$nav-pills-link-active-font-weight: bold;
$nav-pills-padding-y: 10px;
$nav-pills-padding-x: 20px;


//Aside
$aside-width: 250px;
$aside-bg: $gray-800;
$aside-font-size: 1.2rem;


//Feedback-button
$feedback-button-background-color: $darkblue-500;


//Help-button
$help-button-background-color: $light-yellow;


//Images
$launch-guide-img-width: 200px;